.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.all-width {
  width: 100vw;
  margin-bottom: 0;
}

.jumbotron-padding {
  padding-top: 1em;
  padding-bottom: 0;
}

hr {
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  hr {
    display: none;
  }
}
