<div class="row">
  <div class="col-md-6 text-center">
    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '20em', height: '20em' }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 vertical-center">
    <hr/>
    <ngx-skeleton-loader count="2" [theme]="{ width: '20em', height: '3em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ height: '2em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ height: '4em' }"></ngx-skeleton-loader>
  </div>
</div>
<div class="spacer">
  <div class="jumbotron jumbotron-padding all-width text-center">
    <div class="center container">
      <div class="row">
        <div class="col-md-4 center">
          <ngx-skeleton-loader [theme]="{ height: '10em' }"></ngx-skeleton-loader>
        </div>
        <div class="col-md-4 center">
          <ngx-skeleton-loader [theme]="{ height: '10em' }"></ngx-skeleton-loader>
        </div>
        <div class="col-md-4 center">
          <ngx-skeleton-loader [theme]="{ height: '10em' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-skeleton-loader class="spacer container" [theme]="{ width: '75em', height: '50em' }"></ngx-skeleton-loader>
<div class="spacer">
  <div class="jumbotron jumbotron-padding all-width text-center">
    <div class="container center">
      <ngx-skeleton-loader count="3" [theme]="{ width: '75em', height: '3em' }"></ngx-skeleton-loader>
    </div>
  </div>
</div>
<div class="spacer item">
  <ngx-skeleton-loader count="3" appearance="circle" [theme]="{ width: '7em', height: '7em' }"></ngx-skeleton-loader>
</div>
