<br/>
<div class="card mb-3" *ngFor="let certification of certifications">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <p class="title">{{ certification?.title }}</p>
        <p class="date">{{ certification?.dates }}</p>
        <p class="text-justify">{{ certification.company.name }}</p>
      </div>
      <div class="col-sm-4 text-center disabled-sm vertical-center">
        <img class="resize" src="{{ url + certification.company.logo }}" alt="{{ certification.company.name }}"/>
      </div>
    </div>
  </div>
</div>
