<br/>
<div class="card mb-3" *ngFor="let project of projects">
  <div class="card-body">
    <p class="font title">{{ project.name }}</p>
    <p *ngIf="project.availabilityUrl">URL : <a target="_blank" href="{{ project.availabilityUrl }}">{{ project.availabilityUrl }}</a></p>
    <p>GitLab : <a target="_blank" href="{{ project.gitLabUrl }}">{{ project.gitLabUrl }}</a></p>
    <p>GitHub : <a target="_blank" href="{{ project.gitHubUrl }}">{{ project.gitHubUrl }}</a></p>
  </div>
</div>
