<div class="card-container">
  <a *ngFor="let link of links" class="circle-link" href="{{ link.link }}" target="_blank"
     rel="noopener">
    <img class="resize" src="{{ url + link.image }}" alt=""/>
  </a>
</div>
