<br/>
<div class="card mb-3" *ngFor="let formation of education">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <p class="title">{{ formation.degree }}</p>
        <p class="date">{{ formation.dates }}</p>
        <p class="school">{{ formation.company.name }}</p>
        <p class="location">{{ formation.company.location }}</p>
        <p class="text-justify">{{ formation.description }}</p>
      </div>
      <div class="col-sm-4 text-center disabled-sm vertical-center">
        <img class="resize" src="{{ url + formation.company.logo }}" alt="{{ formation.company.name }}"/>
      </div>
    </div>
  </div>
</div>
