<div class="row">
  <div class="col-md-6 text-center">
    <img class="photo-size" src="{{ url + profile.photo }}" alt=""/>
  </div>
  <div class="col-md-6 text-center vertical-center">
    <hr/>
    <h1 class="first-name text-center text-md-left">{{ profile.firstName }}</h1>
    <h1 class="last-name dark-blue text-center text-md-left">{{ profile.lastName }}</h1>
    <h2 class="current-position text-center text-md-left">{{ profile.currentPosition }}</h2>
  </div>
</div>
<div class="spacer jumbotron jumbotron-padding all-width text-center">
  <div class="container center">
    <div class="row">

      <div class="col-md-4 center">
        <mat-card class="align-height">
          <mat-card-title>
            <mat-icon class="dark-blue" aria-hidden="false" aria-label="Address">home</mat-icon>
          </mat-card-title>
          <mat-card-content>
            <a href="{{ profile.locationUrl }}" target="_blank">
              {{ profile.address }}<br/>
              {{ profile.city }}<br/>
              {{ profile.country }}
            </a>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 center">
        <mat-card class="align-height">
          <mat-card-title>
            <mat-icon class="dark-blue" aria-hidden="false" aria-label="Contact">perm_contact_calendar</mat-icon>
          </mat-card-title>
          <mat-card-content>
            <a class="font" href="mailto:{{ profile.email }}" target="_blank">
              {{ profile.email }}
            </a>
            <br/>
            <a class="font" href="tel:{{ profile.phone }}" target="_blank">
              {{ profile.phone }}
            </a>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 center">
        <mat-card class="align-height">
          <mat-card-title>
            <mat-icon class="dark-blue" aria-hidden="false" aria-label="Contact">translate</mat-icon>
          </mat-card-title>
          <mat-card-content>
            <p class="font" *ngFor="let lang of profile.languages">{{ lang }}</p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>
