.photo-size {
  width: 65%;
}

.first-name {
  font-weight: bold;
  color: #4472c4;
  font-size: 40px;
}

.last-name {
  font-weight: bold;
  font-size: 40px;
}

.dark-blue {
  color: #2f5496;
}

.current-position {
  font-size: 25px;
  color: #888;
}

hr {
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  hr {
    display: none;
  }
}

.center-div {
  display: flex;
  justify-content: center;
}

.all-width {
  width: 100vw;
  margin-bottom: 0;
}

.jumbotron-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.align-height {
  height: 100%
}

a {
  color: black;
}

a:hover {
  color: black;
}

p {
  color: black;
  margin:0;
  padding:0;
}

.col-md-4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
