<br/>
<h2>{{ 'skill.management' | translate }}</h2>
<div class="card mb-3" *ngFor="let skill of skills?.management">
  <div class="card-body">
    <div>
      <p class="font title">{{ skill.name }}</p>
      <p class="font location">{{ skill.usage }}</p>
    </div>
    <div>
      <mat-progress-bar mode="determinate" value="{{ skill.level }}"></mat-progress-bar>
    </div>
  </div>
</div>
<br/>
<h2>{{ 'skill.technical' | translate }}</h2>
<div class="card mb-3" *ngFor="let skill of skills?.technical">
  <div class="card-body">
    <div>
      <p class="font title">{{ skill.name }}</p>
      <p class="font location">{{ skill.usage }}</p>
    </div>
    <div>
      <mat-progress-bar mode="determinate" value="{{ skill.level }}"></mat-progress-bar>
    </div>
  </div>
</div>
