.spacer {
  margin-top: 2rem;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

html {
  height: 100%;
}

#error{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
  transition: all 0.6s;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0 0 #888;}
  to{box-shadow: inset -3px 0 0 transparent;}
}
