<!-- Shimmer layout (loader) -->
<app-shimmer class="content spacer" *ngIf="!isDataLoaded"></app-shimmer>

<div *ngIf="isDataLoaded && !isError">
  <!-- Informations about me (adresse, etc.) -->
  <header>
    <app-header [profile]="profile.general" class="content spacer"></app-header>
  </header>

  <!-- Tab with the main content (Experiences, skills, etc.) -->
  <main>
    <app-main [data]="profile.data" [mailer]="profile.mailer" class="spacer"></app-main>
  </main>

  <!-- Links -->
  <footer>
    <app-footer [links]="profile.links" class="content spacer"></app-footer>
  </footer>
</div>

<main *ngIf="isDataLoaded && isError" id="error">
  <div class="fof">
    <h1>{{ 'error.title' | translate }} 500</h1>
    <p>{{ 'error.content' | translate }}</p>
  </div>
</main>
