<br/>
<div class="card mb-3" *ngFor="let experience of experiences">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <p class="title">{{ experience.company.name }}</p>
        <p class="date">({{ experience.dates }})</p>
        <p>{{ experience.title }}</p>
        <ul *ngIf="experience.descriptions">
          <li class="text-justify" *ngFor="let description of experience.descriptions">{{ description }}</li>
        </ul>
      </div>
      <div class="col-sm-4 text-center disabled-sm vertical-center">
        <img class="resize" src="{{ url + experience.company.logo }}" alt="{{ experience.company.name }}" />
      </div>
    </div>
  </div>
</div>
