<mat-tab-group class="col-md-10 offset-md-1">
  <mat-tab label="{{ 'experience' | translate }}" *ngIf="data.professionalExperiences">
    <app-experiences [experiences]="data.professionalExperiences"></app-experiences>
  </mat-tab>
  <mat-tab label="{{ 'education' | translate }}" *ngIf="data.education">
    <app-education [education]="data.education"></app-education>
  </mat-tab>
  <mat-tab label="{{ 'skill.name' | translate }}" *ngIf="data.skills">
    <app-skills [skills]="data.skills"></app-skills>
  </mat-tab>
  <mat-tab label="{{ 'certification' | translate }}" *ngIf="data.certifications">
    <app-certifications [certifications]="data.certifications"></app-certifications>
  </mat-tab>
  <mat-tab label="{{ 'volunteering' | translate }}" *ngIf="data.volunteerExperiences">
    <app-volunteering [experiences]="data.volunteerExperiences"></app-volunteering>
  </mat-tab>
  <mat-tab label="{{ 'project' | translate }}" *ngIf="data.projects">
    <app-projects [projects]="data.projects"></app-projects>
  </mat-tab>
</mat-tab-group>
<div class="spacer jumbotron all-width">
  <h2 class="text-center">{{ 'mailer.contact' | translate }}</h2>
  <div class="container d-flex justify-content-center">
    <form class="contact-form form-size text-center" *ngIf="!loading" (submit)="sendMail(name.value, mail.value, message.value)">
      <mat-form-field class="full-width">
        <mat-label>{{ 'mailer.name' | translate }}</mat-label>
        <input #name matInput required placeholder="Jean VALJEAN">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{ 'mailer.mail' | translate }}</mat-label>
        <input #mail matInput required type="email" placeholder="jean.valjean@example.com">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{ 'mailer.message' | translate }}</mat-label>
        <textarea #message matInput
                  required
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon aria-hidden="false" aria-label="Send">send</mat-icon>&emsp;{{ 'mailer.send' | translate }}
      </button>
    </form>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</div>
