.resize {
  height: 60px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.date {
  font-size: 16px;
}

.location {
  font-style: italic;
  font-size: 16px;
}

ul {
  list-style: none;
  margin-bottom: 0rem;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 2em;
  text-align: justify;
}

li:before {
  content: "-";
  padding-right: 1em;
}

@media only screen and (max-width: 575px) {
  .disabled-sm {
    display: none;
  }
}

.form-size {
  width: 90%;
}

.full-width {
  width: 100%;
}

