
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$curriculum-vitae-primary: mat-palette(
    (
      50 : #e6eaf2,
      100 : #c1cce0,
      200 : #97aacb,
      300 : #6d87b6,
      400 : #4e6ea6,
      500 : #2f5496,
      600 : #2a4d8e,
      700 : #234383,
      800 : #1d3a79,
      900 : #122968,
      A100 : #9eb5ff,
      A200 : #6b8eff,
      A400 : #3867ff,
      A700 : #1f54ff,
      contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
      )
    )
);

$curriculum-vitae-accent: mat-palette(
    (
      50 : #ffede0,
      100 : #ffd1b3,
      200 : #ffb380,
      300 : #ff944d,
      400 : #ff7d26,
      500 : #ff6600,
      600 : #ff5e00,
      700 : #ff5300,
      800 : #ff4900,
      900 : #ff3800,
      A100 : #ffffff,
      A200 : #fff4f2,
      A400 : #ffc9bf,
      A700 : #ffb4a6,
      contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )
    ),
    A200,
    A100,
    A400
);

// The warn palette is optional (defaults to red).
$curriculum-vitae-warn: mat-palette(
    (
      50 : #fdf8e6,
      100 : #fbedc2,
      200 : #f8e199,
      300 : #f5d470,
      400 : #f3cb51,
      500 : #f1c232,
      600 : #efbc2d,
      700 : #edb426,
      800 : #ebac1f,
      900 : #e79f13,
      A100 : #ffffff,
      A200 : #fff4e2,
      A400 : #ffe2af,
      A700 : #ffd896,
      contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )
    )
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$curriculum-vitae-theme: mat-light-theme((
  color: (
    primary: $curriculum-vitae-primary,
    accent: $curriculum-vitae-accent,
    warn: $curriculum-vitae-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($curriculum-vitae-theme);

